.DS_Store
*.gem
/.bundle
/.env
/.env.prod
/.env.staging
/.env.*.local
/app/assets/builds
/config/*.key
/config/credentials/*.key
/log
/node_modules
/public/assets
/spec/examples.txt
/storage
/tmp
/tmp/pids
/tmp/storage
/vendor/bundle
!/.env*.erb
!/app/assets/builds/.keep
!/db/.keep
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
