- Code
- Statement
- Class
- While
- If
- IfModifier
- OrKeyword
- NotKeyword
- Equal
- Rescue
- Ternary
- Range
- OrOperator
- AndOperator
- Equality
- GreaterThan
- BitwiseOr
- BitwiseAnd
- Shift
- Addition
- Multiplication
- UnaryMinus
- Power
- Negation
- Splat
- Function
- ChainedCall
- Dictionnary
- List
- String
- Number
- Boolean
- Nothing
- Group
- Call
